{% include 'base.html' %}

{% block content %}
<li><a href="{% url 'master-signup' %}">Master Signin</a></li></ul></nav>
<div class="login_class"> 
<form method="post">
  {% csrf_token %}
  <ul>
  <li><label for="username">Username:</label>
  <input type="text" name="username" required></li>
  <br>
  <li><label for="password">Password :</label>
  <input type="password" name="password" required></li>
  <br>
  <li><button type="submit">Login</button></li>
  </ul>
  {% if error_message %}
    <p>{{ error_message }}</p>
  {% endif %}
</form>
</div>
{% endblock %}
  