{% include 'base.html' %}
<style>
    .navbar ul{
      width: 65%;
    }
  </style>
{% block content %}
  <li><a href="{% url 'master-tasks' %}">All activities</a></li>
  <li style="float:right"><a>Welcome, {{ request.user.username }}!</a></li></ul></nav>
  <table>
    <center><h2>Activity Log</h2></center>
    <thead>
      <tr>
        <th>Student</th>
        <th>Left_number</th>
        <th>Right_number</th>
        <th>Operand</th>
        <th>Calculation</th>
        <th>Result</th>
        <th>Timestamp</th>
        <th>status</th>
        <th>Master</th>
      </tr>
    </thead>
    <tbody>
      {% for activity in activities %}
        <tr>
          <td>{{ activity.student.username}}</td>
          <td>{{ activity.left_number }}</td>
          <td>{{ activity.right_number }}</td>
          <td>{{ activity.operator }}</td>
          <td>{{ activity.calculation }}</td>
          <td>{{ activity.result }}</td>
          <td>{{ activity.timestamp }}</td>
          <td>{{ activity.status }}</td>
          <td>{{ activity.master.username }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
